body {
    font-size: x-large;
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px 20px 20px;
    font-size: x-large;
    font-weight:bold;
    color: #303e33;
    border: #000000 solid 5px;
    background-color: rgb(173, 174, 175);
    width: 300px
  }
  .sheet {
    display: grid
  }
.input {
  font-size: x-large;
}
.checkerboard {
    width: 600px;
    height: 800px;
    background-color: #fff;
    background-image: linear-gradient(
        60deg,
        #6f8f5e 25%,
        transparent 25%,
        transparent 75%,
        #d6b888 75%,
        #bfcb88
      ),
      linear-gradient(
        -60deg,
        #8c7c7c 25%,
        transparent 25%,
        transparent 75%,
        #3aa342 75%,
        #a5ab85
      );
    background-size: 60px 60px;
    background-repeat: repeat;
  }
  
  .button {
    background-color: #75be7f; /* Green */
    border: solid black;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
  }

.standings-container {
  border: solid 10px black;
}

.links {
  display: grid;
  grid-template-columns: 300px 1fr;
  font-size: xx-large;
  font-style: italic;
}