body {
    font-size: x-large;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px 20px 20px;
    font-size: x-large;
    font-weight:bold;
    color: #303e33;
    border: #000000 solid 5px;
    background-color: rgb(173, 174, 175);
    width: 300px;
  }
  .sheet {
    display: grid
  }
.input {
  font-size: x-large;
}
.label {
  color:rgb(0, 0, 0)
}

.wordlelink {
  display: inline-block;
  height: 55px;
  width: 300px;
  background-image: url(wordleimg.png);
  background-size: 100%;
}

.wafflelink {
  display: inline-block;
  height: 55px;
  width: 250px;
  background-image: url(waffleimg.png);
  background-size: 100%;
}

.checkerboard {
    width: 160vw;
    background-color: #fff;
    background-image: linear-gradient(
        60deg,
        #6f8f5e 25%,
        transparent 25%,
        transparent 75%,
        #d6b888 75%,
        #bfcb88
      ),
      linear-gradient(
        -60deg,
        #8c7c7c 25%,
        transparent 25%,
        transparent 75%,
        #3aa342 75%,
        #a5ab85
      );
    background-size: 60px 60px;
    padding-left: 20px;
    padding-right: 30px;
    background-repeat: repeat;
  }
  
  .button {
    background-color:#44a745;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    font-size: 20px;
  }



.links {
  display: grid;
  grid-template-columns: 300px 1fr;
  font-size: xx-large;
  font-style: italic;
}

.standings-container {
  border: 5px solid black;
  width: 596px;
  height: 382px;
}