body {

    display: grid;
    grid-template-columns: 600px 1fr;
  }

.container {
    display: grid;
    grid-template-columns: 380px 390px;
    grid-template-rows: 300px 10px 300px 10px 220px 90px;
    padding: 20px 20px 20px 20px;
    font-size: x-large;
    font-weight:bold;
    color: #303e33;
    border: #000000 solid 5px;
    background-color: rgb(173, 174, 175);
    width: 300px;
  }


  #myForm {
    height: 500px;
  }

  .today {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    padding: 0px 10px 20px 20px;
    background-color:#3aa342;
    height: 220px;
    width: 320px;
    border: #000000 solid 5px;
    background-color: rgb(173, 174, 175);
  }
  
  .yesterday {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    padding: 0px 10px 20px 20px;
    background-color:#3aa342;
    border: #000000 solid 5px;
    height: 220px;
    width: 320px;
    background-color: rgb(173, 174, 175);
  }
  

.input {
  font-size: x-large;
}
.label {
  color:rgb(0, 0, 0)
}


.wordlelink {
  display: inline-block;
  height: 75px;
  width: 400px;
  background-image: url(wordleimg.png);
  background-size: 100%;
}

.wafflelink {
  display: inline-block;
  height: 65px;
  width: 350px;
  background-image: url(waffleimg.png);
  background-size: 100%;
  padding-bottom: 10px;
}

.checkerboard {
    width: 100vw;
    background-color: #fff;
    background-image: linear-gradient(
        60deg,
        #6f8f5e 25%,
        transparent 25%,
        transparent 75%,
        #d6b888 75%,
        #bfcb88
      ),
      linear-gradient(
        -60deg,
        #8c7c7c 25%,
        transparent 25%,
        transparent 75%,
        #3aa342 75%,
        #a5ab85
      );
    background-size: 60px 60px;
    padding-left: 20px;
    padding-right: 30px;
    background-repeat: repeat;
  }
  
  .button {
    background-color:#44a745;
    /* display: grid;
    grid-column: 1; */
    grid-row: 6;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    height:50px; 
    width: 250px;
    font-size: 20px;
  }



.links {
  display: grid;
  grid-template-columns: 410px 1fr;
  font-size: xx-large;
  font-style: italic;
}

.standings-container {
  display: grid;
  
  border: 5px solid black;
  height: 240px;
  width: 350px;
  grid-column: 2;
  grid-row: 4;
  background-color: rgb(173, 174, 175);
}

.h2 {
  background-color: #3aa342;
  font-size:large
}